<h1>新規タスクの登録</h1>

<%= form_with(model: @task, loacl: true) do |f| %>
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
  <%= f.submit '登録' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>